<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MachineMapper">
	
	<!--表名 -->
	<sql id="tableName">
		OA_MACHINE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		MHID,	
		NAME,	
		TYPE,	
		MODEL,	
		POWER,	
		CHARGE,	
		DAY_REPAIRMAN,	
		NIGHT_REPAIRMAN,	
		BARCODE,	
		BARCODEURL,	
		COMPANY_ID,	
		DELETED,	
		BZ,	
		CHANGE_RULE
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{MHID},	
		#{NAME},	
		#{TYPE},	
		#{MODEL},	
		#{POWER},	
		#{CHARGE},	
		#{DAY_REPAIRMAN},	
		#{NIGHT_REPAIRMAN},	
		#{BARCODE},	
		#{BARCODEURL},	
		#{COMPANY_ID},	
		#{DELETED},	
		#{BZ},	
		#{CHANGE_RULE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd" >
		insert into
	<include refid="tableName"></include>
		(
		MHID,
		NAME,
		TYPE,
		MODEL,
		POWER,
		CHARGE,
		DAY_REPAIRMAN,
		NIGHT_REPAIRMAN,
		BARCODE,
		BARCODEURL,
		COMPANY_ID,
		BZ,
		CHANGE_RULE
		) values (
		#{MHID},
		#{NAME},
		#{TYPE},
		#{MODEL},
		#{POWER},
		#{CHARGE},
		#{DAY_REPAIRMAN},
		#{NIGHT_REPAIRMAN},
		#{BARCODE},
		#{BARCODEURL},
		#{COMPANY_ID},
		#{BZ},
		#{CHANGE_RULE}
		)
	</insert>
	
	<!-- 删除-->
	<update id="delete" parameterType="pd">
		UPDATE
		<include refid="tableName"></include>
		SET deleted = 1
		where
		MHID = #{MHID}
	</update>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			NAME = #{NAME},
			TYPE = #{TYPE},
			MODEL = #{MODEL},
			POWER = #{POWER},
			CHARGE = #{CHARGE},
			DAY_REPAIRMAN = #{DAY_REPAIRMAN},
			NIGHT_REPAIRMAN = #{NIGHT_REPAIRMAN},
			BARCODE = #{BARCODE},
			BARCODEURL = #{BARCODEURL},
			BZ = #{BZ},
			CHANGE_RULE = #{CHANGE_RULE}
		where
		MHID = #{MHID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		a.MHID,
		a.NAME,
		a.TYPE,
		a.MODEL,
		a.POWER,
		a.CHARGE,
		a.DAY_REPAIRMAN,
		a.NIGHT_REPAIRMAN,
		a.BARCODE,
		a.BARCODEURL,
		a.COMPANY_ID,
		a.DELETED,
		a.BZ,
		a.CHANGE_RULE
		,(SELECT d.`name` from oa_company_basic d WHERE a.type= d.ocbid) as typeName
		from 
		<include refid="tableName"></include> a
		where
			a.MHID = #{MHID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			a.MHID,
			a.NAME,
			a.TYPE,
		(SELECT d.`name` from oa_company_basic d WHERE a.type= d.ocbid) as typeName,
			a.MODEL,
			a.POWER,
			a.CHARGE,
			a.DAY_REPAIRMAN,
			a.NIGHT_REPAIRMAN,
			(SELECT c.NAME from oa_staff c where c.STAFF_ID = a.charge) as chargeName,
			(SELECT c.NAME from oa_staff c where c.STAFF_ID = a.Day_Repairman) as DayName,
			(SELECT c.NAME from oa_staff c where c.STAFF_ID = a.Night_Repairman) as NightName,
			a.BARCODE,
			a.BARCODEURL,
			a.COMPANY_ID,
			a.DELETED,
			a.BZ,
			a.CHANGE_RULE,
			CASE WHEN CHANGE_RULE = 0 THEN '支持' ELSE '不支持' END as CHANGERULEName
		from 
		<include refid="tableName"></include> a
		LEFT JOIN  oa_staff e ON e.STAFF_ID = a.charge
		where a.COMPANY_ID = #{pd.COMPANY_ID} and a.deleted = 0
		<if test="pd.Name!= null and pd.Name != ''">
			and	 a.Name LIKE CONCAT(CONCAT('%', #{pd.Name}),'%')
		</if>
		<if test="pd.TYPE!= null and pd.TYPE != ''">
			and	 a.TYPE = #{pd.TYPE}
		</if>
		<if test="pd.Repairman!= null and pd.Repairman != ''">
			and	  e.Name LIKE CONCAT(CONCAT('%', #{pd.Repairman}),'%')
		</if>
		<if test="pd.CHANGE_RULE!= null and pd.CHANGE_RULE != ''">
			and	 a.CHANGE_RULE = #{pd.CHANGE_RULE}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteAll" parameterType="String">
		UPDATE
		<include refid="tableName"></include>
		SET deleted= 1
		where
			MHID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	<insert id="saveMachineCycle" parameterType="pd">
		INSERT into oa_machine_cycle(mhid,cycleid,BZ) VALUES(#{mhid},#{cycleid},#{BZ})
	</insert>
	<insert id="saveMachineProject" parameterType="pd">
		INSERT into oa_machine_projec(mhid,projectid) VALUES(#{mhid},#{projectid})
	</insert>
	<insert id="saveMachineRule" parameterType="pd">
		INSERT into oa_machine_rule(mhid,ruleId) VALUES(#{mhid},#{ruleId})
	</insert>
	<insert id="saveMachineParts" parameterType="pd">
		INSERT into oa_machine_parts(mhid,partsId) VALUES(#{mhid},#{partsId})
	</insert>

	<select id="getMachineCycle" parameterType="pd" resultType="pd">
		select a.MCID,a.MHID,a.CYCLEID,a.BZ,b.NAME
		from oa_machine_cycle a
		LEFT JOIN oa_company_basic b ON  b.ocbid = a.CYCLEID
		WHERE a.mhid=#{mhid} AND a.deleted=0
	</select>
	<update id="deleteMachineCycle">
		UPDATE  oa_machine_cycle SET  deleted=1 where mhid=#{MHID}
	</update>

	<select id="getMachineProjec" parameterType="pd" resultType="pd">
		select a.MPID,a.MHID,a.PROJECTID,b.`name` as repairName
		from oa_machine_projec a
		LEFT JOIN oa_company_basic b ON a.projectid = b.ocbid
		WHERE a.mhid=#{mhid} and a.deleted=0
	</select>
	<update id="deleteMachineProject">
		UPDATE  oa_machine_projec SET  deleted=1 where mhid=#{MHID}
	</update>

	<select id="getMachineRule" parameterType="pd" resultType="pd">
		select a.MRID,a.MHID,a.RULEID,b.name as ruleName
		from oa_machine_rule a
		LEFT JOIN oa_company_basic b ON a.ruleid = b.ocbid
		WHERE a.mhid=#{mhid} and a.deleted=0
	</select>
	<update id="deleteMachineRule">
		UPDATE  oa_machine_rule SET  deleted=1 where mhid=#{MHID}
	</update>

	<select id="getMachineParts" parameterType="pd" resultType="pd">
		select a.MPID,a.MHID,a.PARTSID,b.name as partsName
		from oa_machine_parts a
		LEFT JOIN oa_company_basic b ON a.partsid = b.ocbid
		WHERE a.mhid=#{mhid} and a.deleted=0
	</select>
	<update id="deleteMachineParts">
		UPDATE  oa_machine_parts SET  deleted=1 where mhid=#{MHID}
	</update>

	<select id="findByBarcode" parameterType="pd" resultType="pd">
		SELECT a.name,b.name  as typeName,a.barcode,a.mhid,
		 (SELECT d.USERNAME from oa_staff c LEFT JOIN  sys_user d ON c.USER_ID = d.USER_ID where c.STAFF_ID = a.charge) as chargeName,
		(SELECT d.USERNAME from oa_staff c LEFT JOIN  sys_user d ON c.USER_ID = d.USER_ID where c.STAFF_ID = a.Day_Repairman) as Day_Repairman,
		(SELECT d.USERNAME from oa_staff c LEFT JOIN  sys_user d ON c.USER_ID = d.USER_ID where c.STAFF_ID = a.Night_Repairman) as Night_Repairman,
		(SELECT c.NAME from oa_staff c where c.STAFF_ID = a.charge) as chargeN,
		(SELECT c.NAME from oa_staff c where c.STAFF_ID = a.Day_Repairman) as Day_R,
		(SELECT c.NAME from oa_staff c where c.STAFF_ID = a.Night_Repairman) as Night_R
		from OA_MACHINE  a
		LEFT JOIN oa_company_basic b ON a.type = b.ocbid
		where  a.company_id = #{company_id}
		<if test="machineCode!= null and machineCode != ''">
			and a.barcode = #{machineCode}
		</if>
		<if test="name!= null and name != ''">
			and a.name = #{name}
		</if>
	</select>

	<select id="getMachineCycleById" parameterType="pd" resultType="pd">
		select a.MCID,a.MHID,a.CYCLEID,a.BZ,b.NAME
		from oa_machine_cycle a
		LEFT JOIN oa_company_basic b ON  b.ocbid = a.CYCLEID
		WHERE a.MCID=#{MCID} AND a.deleted=0
	</select>


</mapper>