<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ScanMapper">
	
	<!--表名 -->
	<sql id="tableName">
		OA_SCAN_RECORD
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		srid,
		mhid,
		staff_Id,
		staff_name,
		car_id,
		car_code,
		scan_type,
		operation_type,
		repair_position,
		target_rule,
		change_position,
		scan_date,
		cycle_type,
		company_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{srid},
		#{mhid},
		#{staff_Id},
		#{staff_name},
		#{car_id},
		#{car_code},
		#{scan_type},
		#{operation_type},
		#{repair_position},
		#{target_rule},
		#{change_position},
		#{scan_date},
		#{cycle_type},
		#{company_id}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include> a
		set
		mhid  		= #{mhid},
		staff_Id  	= #{staff_Id},
		staff_name  = #{staff_name},
		car_id  	= #{car_id},
		car_code  	= #{car_code},
		scan_type  	= #{scan_type},
		operation_type   = #{operation_type},
		repair_position  = #{repair_position},
		target_rule  	 = #{target_rule}
		where
			srid = #{srid}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		from <include refid="tableName"></include>
		where srid = #{srid}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		a.srid,
		a.mhid,
		a.staff_Id,
		a.staff_name,
		a.car_id,
		a.car_code,
		CASE WHEN a.scan_type = 1 THEN '巡视扫描'
			 WHEN  a.scan_type = 2 THEN '维修扫描'
			 WHEN  a.scan_type = 3 THEN '保养扫描'
			 WHEN  a.scan_type = 4 THEN '改规格扫描' END  as scan_type,
		CASE WHEN a.operation_type = '0' THEN '开始操作'
			WHEN  a.operation_type = '1' THEN '结束操作'
			ELSE  '' END  as operation_type,
		a.repair_position,
		a.target_rule,
		a.scan_date,
		b.name as mname,
		b.barcode as mcode
		from
		<include refid="tableName"></include> a
		LEFT  JOIN oa_machine b ON  a.mhid = b.mhid
		where a.COMPANY_ID =#{pd.COMPANY_ID}
		<if test="pd.scan_type!= null and pd.scan_type != ''">
			and a.scan_type IN (${pd.scan_type})
		</if>
		ORDER BY scan_date DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		WHERE COMPANY_ID =#{COMPANY_ID}
	</select>
</mapper>