<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StaffMapper">
	
	<!--表名 -->
	<sql id="tableName">
		OA_STAFF
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		NAME,	
		NAME_EN,	
		BIANMA,	
		DEPARTMENT_ID,	
		FUNCTIONS,	
		TEL,	
		EMAIL,	
		SEX,	
		BIRTHDAY,	
		NATION,	
		JOBTYPE,	
		JOBJOINTIME,	
		FADDRESS,	
		POLITICAL,	
		PJOINTIME,	
		SFID,	
		MARITAL,	
		DJOINTIME,	
		POST,	
		POJOINTIME,	
		EDUCATION,	
		SCHOOL,	
		MAJOR,	
		FTITLE,	
		CERTIFICATE,	
		CONTRACTLENGTH,	
		CSTARTTIME,	
		CENDTIME,	
		ADDRESS,	
		USER_ID,	
		BZ,	
		STAFF_ID,
		COMPANY_ID,
		STATUS,
		PROVINCE,
		CITY,
		AREA,
		GRADUATE
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{NAME},	
		#{NAME_EN},	
		#{BIANMA},	
		#{DEPARTMENT_ID},	
		#{FUNCTIONS},	
		#{TEL},	
		#{EMAIL},	
		#{SEX},	
		#{BIRTHDAY},	
		#{NATION},	
		#{JOBTYPE},	
		#{JOBJOINTIME},	
		#{FADDRESS},	
		#{POLITICAL},	
		#{PJOINTIME},	
		#{SFID},	
		#{MARITAL},	
		#{DJOINTIME},	
		#{POST},	
		#{POJOINTIME},	
		#{EDUCATION},	
		#{SCHOOL},	
		#{MAJOR},	
		#{FTITLE},	
		#{CERTIFICATE},	
		#{CONTRACTLENGTH},	
		#{CSTARTTIME},	
		#{CENDTIME},	
		#{ADDRESS},	
		#{USER_ID},	
		#{BZ},	
		#{STAFF_ID},
		#{COMPANY_ID},
		#{STATUS},
		#{PROVINCE},
		#{CITY},
		#{AREA},
		#{GRADUATE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<!--<delete id="delete" parameterType="pd">-->
		<!--delete from-->
		<!--<include refid="tableName"></include>-->
		<!--where -->
			<!--STAFF_ID = #{STAFF_ID}-->
	<!--</delete>-->
	<update id="delete" parameterType="pd">
		UPDATE <include refid="tableName"></include>
			set deleted=1
		where STAFF_ID = #{STAFF_ID}
	</update>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include> a
		set 
			NAME = #{NAME},
			NAME_EN = #{NAME_EN},
			BIANMA = #{BIANMA},
			DEPARTMENT_ID = #{DEPARTMENT_ID},
			FUNCTIONS = #{FUNCTIONS},
			TEL = #{TEL},
			EMAIL = #{EMAIL},
			SEX = #{SEX},
			BIRTHDAY = #{BIRTHDAY},
			NATION = #{NATION},
			JOBTYPE = #{JOBTYPE},
			JOBJOINTIME = #{JOBJOINTIME},
			FADDRESS = #{FADDRESS},
			POLITICAL = #{POLITICAL},
			PJOINTIME = #{PJOINTIME},
			SFID = #{SFID},
			MARITAL = #{MARITAL},
			DJOINTIME = #{DJOINTIME},
			POST = #{POST},
			POJOINTIME = #{POJOINTIME},
			EDUCATION = #{EDUCATION},
			SCHOOL = #{SCHOOL},
			MAJOR = #{MAJOR},
			FTITLE = #{FTITLE},
			CERTIFICATE = #{CERTIFICATE},
			CONTRACTLENGTH = #{CONTRACTLENGTH},
			CSTARTTIME = #{CSTARTTIME},
			CENDTIME = #{CENDTIME},
			ADDRESS = #{ADDRESS},
			BZ = #{BZ},
			STATUS = #{STATUS},
			PROVINCE = #{PROVINCE},
			CITY = #{CITY},
			AREA = #{AREA},
			GRADUATE = #{GRADUATE}
		where 
			STAFF_ID = #{STAFF_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select	b.USERNAME,
		b.`PASSWORD`,
		c.ROLE_NAME,
		c.ROLE_ID,
		a.NAME,
		a.NAME_EN,
		a.BIANMA,
		a.DEPARTMENT_ID,
		a.FUNCTIONS,
		a.TEL,
		a.EMAIL,
		a.SEX,
		a.BIRTHDAY,
		a.NATION,
		a.JOBTYPE,
		a.JOBJOINTIME,
		a.FADDRESS,
		a.POLITICAL,
		a.PJOINTIME,
		a.SFID,
		a.MARITAL,
		a.DJOINTIME,
		a.POST,
		a.POJOINTIME,
		a.EDUCATION,
		a.SCHOOL,
		a.MAJOR,
		a.FTITLE,
		a.CERTIFICATE,
		a.CONTRACTLENGTH,
		a.CSTARTTIME,
		a.CENDTIME,
		a.ADDRESS,
		a.USER_ID,
		a.BZ,
		a.STAFF_ID,
		a.COMPANY_ID,
		a.STATUS,
		a.PROVINCE,
		a.CITY,
		a.AREA,
		GRADUATE
		from OA_STAFF a
		LEFT JOIN sys_user b ON a.USER_ID = b.USER_ID
		LEFT JOIN sys_role c ON b.ROLE_ID = c.ROLE_ID
		where
		a.STAFF_ID = #{STAFF_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		a.NAME,
		a.NAME_EN,
		a.BIANMA,
		a.DEPARTMENT_ID,
		a.FUNCTIONS,
		a.TEL,
		a.EMAIL,
		a.SEX,
		a.BIRTHDAY,
		a.NATION,
		a.JOBTYPE,
		a.JOBJOINTIME,
		a.FADDRESS,
		a.POLITICAL,
		a.PJOINTIME,
		a.SFID,
		a.MARITAL,
		a.DJOINTIME,
		a.POST,
		a.POJOINTIME,
		a.EDUCATION,
		a.SCHOOL,
		a.MAJOR,
		a.FTITLE,
		a.CERTIFICATE,
		a.CONTRACTLENGTH,
		a.CSTARTTIME,
		a.CENDTIME,
		a.ADDRESS,
		a.USER_ID,
		a.BZ,
		a.STAFF_ID,
		a.COMPANY_ID,
		a.STATUS,
		a.PROVINCE,
		a.CITY,
		a.AREA,
		a.GRADUATE,
		b.NAME as departmentName,
		c.USERNAME,
		d.name as postName
		from 
		<include refid="tableName"></include> a
		LEFT JOIN oa_department b on a.DEPARTMENT_ID = b.DEPARTMENT_ID
		LEFT JOIN SYS_USER c ON  a.USER_ID = c.USER_ID
		LEFT JOIN oa_company_basic d ON  d.ocbid = a.POST
		where a.deleted = 0 and  a.COMPANY_ID =#{pd.COMPANY_ID}
		<if test="pd.NAME!= null and pd.NAME != ''">
			and a.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%')
		</if>
		<if test="pd.TEL!= null and pd.TEL != ''">
			and a.TEL LIKE CONCAT(CONCAT('%', #{pd.TEL}),'%')
		</if>
		<if test="pd.POST!= null and pd.POST != ''">
			and a.POST= #{pd.POST}
		</if>
		<if test="pd.DEPARTMENT_ID!=null and pd.DEPARTMENT_ID!=''"><!-- 部门检索 -->
			and a.DEPARTMENT_ID in ${pd.item}
		</if>
		<if test="pd.USERNAME!= null and pd.USERNAME != ''">
			and c.USERNAME LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
		</if>
		<if test="pd.STATUS!= null and pd.STATUS != ''">
			and a.STATUS= #{pd.STATUS}
		</if>
		<if test="pd.DJOINTIMESTART!= null and pd.DJOINTIMESTART != ''">
			and a.DJOINTIME >= #{pd.DJOINTIMESTART}
		</if>
		<if test="pd.DJOINTIMEEND!= null and pd.DJOINTIMEEND != ''">
			and  #{pd.DJOINTIMEEND} >=a.DJOINTIME
		</if>

	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		WHERE COMPANY_ID =#{COMPANY_ID}
	</select>

	<select id="listSelect" parameterType="page" resultType="pd">
		select
		a.STAFF_ID,
		a.NAME,
		a.TEL,
		b.NAME as departmentName
		from
		<include refid="tableName"></include> a
		LEFT JOIN oa_department b on a.DEPARTMENT_ID = b.DEPARTMENT_ID
		where a.deleted = 0 and  a.COMPANY_ID =#{pd.COMPANY_ID}
	</select>
	
	<!-- 批量删除 -->
	<!--<delete id="deleteAll" parameterType="String">-->
		<!--delete from-->
		<!--<include refid="tableName"></include>-->
		<!--where -->
			<!--STAFF_ID in-->
		<!--<foreach item="item" index="index" collection="array" open="(" separator="," close=")">-->
                 <!--#{item}-->
		<!--</foreach>-->
	<!--</delete>-->
	<update id="deleteAll">
		UPDATE <include refid="tableName"></include>
		set deleted=1
		where
		STAFF_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<!-- 绑定用户 -->
	<update id="userBinding" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			USER_ID = #{USER_ID}
		where 
			STAFF_ID = #{STAFF_ID}
	</update>
	
	<!-- fh313596790qq(青苔) -->
</mapper>