body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:507px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10652 {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:507px;
}
#u10653 {
  position:absolute;
  left:2px;
  top:246px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:68px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10654 {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:68px;
}
#u10655 {
  position:absolute;
  left:2px;
  top:26px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:57px;
}
#u10656 {
  position:absolute;
  left:14px;
  top:5px;
  width:69px;
  height:57px;
}
#u10657 {
  position:absolute;
  left:2px;
  top:20px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u10658 {
  position:absolute;
  left:97px;
  top:18px;
  width:281px;
  height:32px;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u10659 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u10660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10660 {
  position:absolute;
  left:677px;
  top:34px;
  width:75px;
  height:16px;
}
#u10661 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u10662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:439px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10662 {
  position:absolute;
  left:0px;
  top:68px;
  width:106px;
  height:439px;
}
#u10663 {
  position:absolute;
  left:2px;
  top:212px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:39px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10664 {
  position:absolute;
  left:0px;
  top:68px;
  width:106px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10665 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u10666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:39px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10666 {
  position:absolute;
  left:0px;
  top:146px;
  width:106px;
  height:39px;
  font-size:14px;
}
#u10667 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u10668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:39px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10668 {
  position:absolute;
  left:0px;
  top:107px;
  width:106px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10669 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u10670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u10670 {
  position:absolute;
  left:110px;
  top:79px;
  width:141px;
  height:33px;
  font-size:28px;
}
#u10671 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u10672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u10672 {
  position:absolute;
  left:150px;
  top:140px;
  width:281px;
  height:33px;
  font-size:28px;
}
#u10673 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u10674 {
  position:absolute;
  left:150px;
  top:183px;
  width:423px;
  height:50px;
}
#u10674_input {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
}
#u10675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u10675 {
  position:absolute;
  left:150px;
  top:243px;
  width:197px;
  height:33px;
  font-size:28px;
}
#u10676 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u10677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10677 {
  position:absolute;
  left:150px;
  top:294px;
  width:152px;
  height:40px;
}
#u10678 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u10679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10679 {
  position:absolute;
  left:316px;
  top:294px;
  width:152px;
  height:40px;
}
#u10680 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u10681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10681 {
  position:absolute;
  left:490px;
  top:294px;
  width:152px;
  height:40px;
}
#u10682 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u10683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10683 {
  position:absolute;
  left:655px;
  top:294px;
  width:152px;
  height:40px;
}
#u10684 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u10685 {
  position:absolute;
  left:0px;
  top:0px;
}
#u10685_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10685_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:507px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10686 {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:507px;
}
#u10687 {
  position:absolute;
  left:2px;
  top:246px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10689 {
  position:absolute;
  left:375px;
  top:202px;
  width:258px;
  height:170px;
}
#u10690 {
  position:absolute;
  left:2px;
  top:77px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10691 {
  position:absolute;
  left:477px;
  top:211px;
  width:29px;
  height:16px;
}
#u10692 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:2px;
}
#u10693 {
  position:absolute;
  left:375px;
  top:237px;
  width:258px;
  height:1px;
}
#u10694 {
  position:absolute;
  left:2px;
  top:-8px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10695 {
  position:absolute;
  left:469px;
  top:268px;
  width:71px;
  height:16px;
  color:#FF0000;
}
#u10696 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10697 {
  position:absolute;
  left:433px;
  top:330px;
  width:140px;
  height:25px;
}
#u10697_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
